# Core functionality - changes here should be rare!
/src/app.py                   @AndrewNelson951
/src/backend/database.py      @AndrewNelson951
/src/backend/routers/auth.py  @AndrewNelson951

# The frontend will need refactored soon to be more object oriented.
/src/static/   @AndrewNelson951
